<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="b-SFodK8c3pBodiC0ReAhRMguTWHVHo1zdlPnD_JXaE" />
    <meta name="description" content="Did the Tigers win the game?"/>

    <title>Did The Tigers Win?</title>
</head>
<body>
    <style type="text/css">
        <!--
        body {
            padding:0;
            margin:0;
            font-size:20px;
        }
        li {
            text-indent:0;
        }

        h1 {
            font-size: 40px;
        }
        h2 {
            font-size:30px;
        }
        -->
    </style>

    {% block content %}

    {% endblock %}

    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
    var sc_project=8281935;
    var sc_invisible=1;
    var sc_security="d5b94ebe";
    </script>
    <script type="text/javascript"
    src="http://www.statcounter.com/counter/counter.js"></script>
    <noscript><div class="statcounter"><a title="tumblr tracker"
    href="http://statcounter.com/tumblr/" target="_blank"><img
    class="statcounter"
    src="http://c.statcounter.com/8281935/0/d5b94ebe/1/"
    alt="tumblr tracker"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->
</body>
</html>
