{% extends "base.html" %}

{% block metaDescription %}
    <meta name="description" content="{{ winningDialog }}" />
{% endblock %}

{% block content %}
    <div id="content" align="center" style="padding:15px">
        <h1>Did the Tigers win the game?</h1>
        
        {% if game %}
            <h2>{{ winningDialog }}</h2>
            <h2>The score is:</h2>
            <ul style="list-style-type:none;">
                <li>{{ game.usTeam }}: {{ game.usScore }}</li>
                <li>{{ game.themTeam }}: {{ game.themScore }}</li>
            </ul>
        {% else %}
            <h2>{{ winningDialog }}</h2>
        {% endif %}
    </div>
{% endblock %}
